.log_message {
}

.log_message_time {
	font-size: 11px;
	width: 80px;
    float: left;
	clear: left;
}

.log_message_type {
	font-size: 11px;
	color: #008CFF;
	text-transform: uppercase;
    float: left;
	width: 44px;
	text-align: center;
}

.log_message_text {
	font-size: 11px;
	color: #F9F9F9;
    float: left;
	width: calc(100% - 160px);
	margin-left: 4px;
}

.log_message_verbose_text {
	font-size: 11px;
	font-style: italic;
    float: left;
}

.log_message_bracket {
	font-size: 11px;
    float: left;
}

.log_message_debug_type {
	color: #CC8800;
}
.log_message_debug_text {
	color: #888888;
}